<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
    
var table2=document.getElementById("table1");
    
$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(data, status){
    
            alert("Data: " + data + "\nStatus: " + status);
        
        
           
        });
    });
	
   });
</script>
  
</head>

<body>

 <h2>click to dispaly a table</h2>

<button id="button1">Click Me</button>

<table id="table1"></table>

</body>
</html>
