<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    

    
    
<script src="https://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
    
    
    
    
  
</head>
    

<body>

 <h3>Click to display a table</h3>

<button id="button1">Click Me</button>

<table id="table1" border="1" style="width:50%"></table>
    
    
<br></br>  <br></br> 
<br/><br/>
<h3>Map with markers</h3>
<div id="map" style="width: 500px; height: 400px;"></div>

<script type="text/javascript">
    

$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(obj, status){
           var th="<tr><th>State</th><th>Capital</th></tr>";
           $("#table1").append(th);
    for(var i=0;i<obj.length;i++)
    {
        var tr="<tr>";
        var td1="<td>"+obj[i]["state"]+"</td>";
        var td2="<td>"+obj[i]["capital"]+"</td></tr>";
        

       $("#table1").append(tr+td1+td2); 

    }   
           
       console.log("table");    
    var infowindow = new google.maps.InfoWindow();

    var marker, j,lat,lon;
    var loc=[];

    for (j = 0; j < obj.length; j++) {
        
        lat=obj[j]["latitude"];
        lon=obj[j]["longitude"];
        loc.push(obj[j]["location"]);
    
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, j) {
        return function() {
          infowindow.setContent(loc[j]);
          infowindow.open(map, marker);
        }
      })(marker, j));
    }

              
           
  
        });
    });
	
   });
    
   var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

</script>




</body>
</html>
