<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
 $("#result_times")
    .find("tr")
    .remove()
    .end();   

 var table = $('#table1');   
$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(obj, status){
            var tbl=$("<table/>").attr("id","mytable");
    $("#div1").append(tbl);
    for(var i=0;i<obj.length;i++)
    {
        var tr="<tr>";
        var td1="<td>"+obj[i]["id"]+"</td>";
        var td2="<td>"+obj[i]["name"]+"</td>";
        var td3="<td>"+obj[i]["color"]+"</td></tr>";

       $("#mytable").append(tr+td1+td2+td3); 

    }   

        
        
           
        });
    });
	
   });
</script>
  
</head>

<body>

 <h2>click to dispaly a table</h2>

<button id="button1">Click Me</button>

<div id='result_times'>

            <table>


            </table>


        </div>

</body>
</html>
