<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
    

$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(obj, status){
           var th="<tr><th>State</th><th>Capital</th></tr>";
           $("#table1").append(th);
    for(var i=0;i<obj.length;i++)
    {
        var tr="<tr>";
        var td1="<td>"+obj[i]["state"]+"</td>";
        var td2="<td>"+obj[i]["capital"]+"</td></tr>";
        

       $("#table1").append(tr+td1+td2); 

    }   
  
        });
    });
	
   });
</script>
    
    
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    
var map;
var marker;
var infoWindow= new google.maps.InfoWindow();


function initialize()
{ 
var myCenter=new google.maps.LatLng(13.05,80.18);
 var mapOptions = {
    center: myCenter ,
     zoom: 8,
     mapTypeId:google.maps.MapTypeId.ROADMAP
 };
	
  map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
}

function getLocation(){
var location= document.getElementById("latlng").value;
console.log("test:"+ location);
var locString=location.split(',',2);
var lat=parseFloat(locString[0]);
var lon=parseFloat(locString[1]);
console.log("test1:"+lat +":"+lon);
var latlng = new google.maps.LatLng(lat,lon);
map.setZoom(11);

marker=new google.maps.Marker({
position: latlng,
map:map
});

    infoWindow.setContent(location);
    infoWindow.open(map,marker);
  
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  
</head>

<body>

 <h2>Click to display a table</h2>

<button id="button1">Click Me</button>

<table id="table1" border="1" style="width:50%"></table>
    
    
<br></br>  <br></br> 
<h3>Click button "Click Map" to display location of the particular "Latlng" </h3>  

<p>
<input id="latlng" type="text" value="13.05,80.18">
<button id= "but" type="Button" onclick= "getLocation()"> Click map </button>
</p>


 <div id="map-canvas"></div>

</body>
</html>
