<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
    
var table2=document.getElementById("table1");
    
$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(data, status){
           //table2.innerHTML ="<tr><th>State</th><th>capital</th></tr>";
           var jsonData=JSON.parse(data);
           console.log(jsonData);
           for(var obj in jsonData){
            table2.innerHTML+="<tr><td>"+jsonData[obj].state+ "</td><td>"+jsonData[obj].capital+"</td></tr>";   
           }
           
        });
    });
	
   });
</script>
  
</head>

<body>

  <% include ../partials/nav.ejs %>

<button id="button1">Click Me</button>

<table id="table1"></table>

</body>
</html>
