<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
    

$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(obj, status){
           var th="<tr><th>State</th><th>Capital</th></tr>";
           $("#table1").append(th);
    for(var i=0;i<obj.length;i++)
    {
        var tr="<tr>";
        var td1="<td>"+obj[i]["state"]+"</td>";
        var td2="<td>"+obj[i]["capital"]+"</td></tr>";
        

       $("#table1").append(tr+td1+td2); 

    }   
  
        });
    });
	
   });
</script>
    
    
<script src="https://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
  
</head>

<body>

 <h2>Click to display a table</h2>

<button id="button1">Click Me</button>

<table id="table1" border="1" style="width:50%"></table>
    
    
<br></br>  <br></br> 
<h3>Click button "Click Map" to display location of the particular "Latlng" </h3>  
<button id="button2">Click Me!!</button>

<div id="map" style="width: 500px; height: 400px;"></div>


  <script type="text/javascript">
      var arr1="[";
           var arr3="]";
           var locations=[];
      $(document).ready(function(){
    $("#button2").click(function(){
	   $.get("/getItems1", function(obj, status){            
    for(var i=0;i<obj.length;i++)
    {
        if(obj.length-1){
        locations+="["+obj[i]["location"]+","+ obj[i]["latitude"]+","+ obj[i]["longitude"]+ "]";
            console.log("if");
        }
        else
        {
        locations+="["+obj[i]["location"]+","+ obj[i]["latitude"]+","+ obj[i]["longitude"]+ "],";
        console.log("elsee");
        }
        
    }   
  locations=arr1+locations+arr3;
 console.log(locations);
console.log(locations.length);
   
   var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
        console.log("hello2   " +  locations.length);
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
        });
    });
	
   });
      
    

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    
  </script>

</body>
</html>
