<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<script>
 $("#result_times")
    .find("tr")
    .remove()
    .end();   

 var table = $('#table1');   
$(document).ready(function(){
    $("#button1").click(function(){
	   $.get("/getItems", function(data, status){
            $.each(data, function(){
           table.append(
               $('<tr></tr>').append(
                    $('<td></td>').text(this.state),
                    $('<td></td>').text(this.capital)
                )
          );
        });

        
        
           
        });
    });
	
   });
</script>
  
</head>

<body>

 <h2>click to dispaly a table</h2>

<button id="button1">Click Me</button>

<div id='result_times'>

            <table>


            </table>


        </div>

</body>
</html>
